<section class="admin-dashboard">
  <header class="page-header mb-4">
    <h1>Admin Dashboard</h1>
  </header>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text"><%= @product_count %></p>
          <%= link_to "View All Products", admin_products_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Categories</h5>
          <p class="card-text"><%= @category_count %></p>
          <%= link_to "View All Categories", admin_categories_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</section>